<.flash_group flash={@flash} />

<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <div class="mx-auto max-w-xl lg:mx-0">
    <h2>Here is some ovo code</h2>
    <textarea name="" id="" cols="30" rows="10">

      </textarea>
    <button>Evaluate</button>
  </div>
</div>
